body {
    background: rgb(70, 142, 236);
    font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;
}

section {
    width: 500px;
    height: auto;
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    margin: auto;
    box-shadow: 5px 5px 10px #00000075;
}

.dentro {
    display: flex;
    align-items: center;
    gap: 5px;
    padding-bottom: 25px;
}

input[type="button"] {
    margin-bottom: 25px;
}

p {
    margin: 0;
}

footer {
    text-align: center;
    color: white;
    font-style: italic;
    padding-top: 25px;
}